.testimonial-block {
  .container {
    h1 {
      text-align: center;
      padding: 3rem 0;
    }
    .testimonial-flexbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .column {
        width: 33.3%;
        max-width: 34rem;
        margin-bottom: 2rem;
        .testimonial-content {
          width: 100%;
          padding: 2rem;
          background-color: #f5f5f5;
          border: 0.1rem solid #ddd;
          border-radius: 0.5rem;
          height: 28.1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .person-info {
            display: flex;
            .content-left,
            .content-right {
              width: 50%;
            }
            .content-right {
              display: flex;
              justify-content: flex-end;
              img {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}
