.site-header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;

  .site-navigation {
    display: flex;
    justify-content: flex-end;

    .menu-header-container {
      width: 100%;
      padding: 2.2rem;
      display: flex;
      justify-content: flex-end;

      #menu-header {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 90rem;

        li {
          list-style: none;

          a {
            color: red;
            text-decoration: none;
            font-family: $lato-black;
            font-size: 19px;
          }
        }
      }
    }
  }
}
