.call-to-action-block {
  margin: 3rem 0;
  h1 {
    text-align: center;
    padding-bottom: 3rem;
  }
  .cta-content {
    text-align: center;
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    height: 100%;
    max-height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h2 {
    margin-bottom: 1rem;
  }
  p {
    padding-bottom: 2rem;
  }
  .cta-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    &:hover {
      background-color: #f44336;
    }
  }
}
