.services-block {
  background-color: #f7f7f7;
  margin: 3rem 0;
  .container {
    h1 {
      text-align: center;
      padding: 3rem 0;
    }
    .services-flexbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .column {
        width: 33.3%;
        max-width: 34rem;
        margin: 1rem;
        background-color: #fff;
        border-radius: 0.8rem;
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        margin-bottom: 3rem;
        .services-content {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.8rem 0.8rem 0 0;
          }
          p,
          h3 {
            margin: 1rem 1rem;
          }
          .service-button {
            display: block;
            margin-top: 1rem;
            text-align: center;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0 0 8px 8px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
