.container {
  max-width: 1200px; 
  margin: 0 auto;
  background: red;
  @include tablet {
        background: blue;
    }
  @include mobile {
        background: green;
    }
}
.hero-block {
  h1 {
    font-family: $open-sans-regular;
    font-weight: 400;
  }
}