* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body,
p {
  font-size: 1.6rem; /* 16px equivalent */
}

h1 {
  font-size: clamp(36px, 6vw, 48px);
}

h2 {
  font-size: clamp(30px, 5vw, 36px);
}

h3 {
  font-size: clamp(24px, 4vw, 30px);
}

h4 {
  font-size: clamp(20px, 3.5vw, 24px);
}

h5 {
  font-size: clamp(18px, 3vw, 20px);
}

h6 {
  font-size: clamp(16px, 2.5vw, 18px);
}

.container {
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
}
.footer {
  display: none;
}
