* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body, 
p {
    font-size: 1.6rem; /* 16px equivalent */
}

h1 {
    font-size: 3.2rem;
}

.container {
  max-width: 120rem; 
  background: red;
}