.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Add your header background color */
  z-index: 2; /* Ensure the header is above other content */
}
