/* Lato Black Font */
@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/Lato-Black.ttf') format('truetype');
}

/* Lato Black  Italic Font */
@font-face {
    font-family: 'Lato Black Italic';
    src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
}

/* Open Sans Regular Font */
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

/* Open Sans Medium Font */
@font-face {
    font-family: 'Open Sans Medium';
    src: url('../fonts/OpenSans-Medium.ttf') format('truetype');
}

/* Open Sans Medium Italic Font */
@font-face {
    font-family: 'Open Sans Medium Italic';
    src: url('../fonts/OpenSans-MediumItalic.ttf') format('truetype');
}